#body{
    background: #cbb085;
    margin-bottom: 10px;
}

#jumbo {
    background: radial-gradient(circle, rgba(216,153,161,1) 0%, rgba(231,107,123,1) 50%, rgba(233,99,116,1) 100%);
}

#jumbo h1 {
    /* border: black solid 1px; */
    font-family: 'Oxygen', sans-serif;
    color: #ffb211;
    font-size: 5vw;
    font-weight: 700;
    text-shadow: black 5px 5px 5px;
    text-align: center;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

}
#jumbo img {
    /* border: black solid 1px; */
    float: left;
    margin-left: 100px;
    margin-top: -40px;
    position: relative;
    animation-name: cartMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}

@keyframes cartMove {
    from {left: -350px;}
    to {left: 30px;}
}

.main-body {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
#button {
    margin-bottom: 0px;

}

#mybtn {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    background: radial-gradient(circle, rgba(0,255,245,1) 0%, rgba(55,153,149,1) 100%);
    margin-bottom: 20px;

}

/* Table Design */
#tableDiv {

    background: radial-gradient(circle, rgba(0,255,245,1) 0%, rgba(55,153,149,1) 100%);
    padding: 10px;
    margin-bottom: 20px;

}

#myTable {
    font-family: 'Oxygen', sans-serif;
    background-color: #ffc13b;
    color: black;
    font-weight: 700;
}

table {
    border-collapse: collapse;
}

td, th {
    border: black solid 1px;
}

.colm {
    text-align: center;
}

/* footer */

#foot {
    background:gray;
}
