#body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #efecef;
    margin-bottom: 10px;
}

#jumbo {
    background: #60a7a8;
}

#jumbo h1 {
    /* border: black solid 1px; */
    text-align: center;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

}
#jumbo img {
    /* border: black solid 1px; */
    float: left;
    margin-left: 100px;
    margin-top: -40px;
    position: relative;
    animation-name: cartMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes cartMove {
    from {left: -350px;}
    to {left: 30px;}
}

.main-body {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

#mybtn {
    background-color: #af4358;
    margin: 10px;
}

/* Table Design */
#tableDiv {

    background-color: #66674e;
    padding: 10px;
    margin-bottom: 20px;

}

#tableCard {
    background-color: #66674e;
}

#myTable {
    background-color: green;
}

table {
    border-collapse: collapse;
}

td, th {
    border: black solid 1px;
}

.colm {
    text-align: center;
}

/* footer */

#foot {
    background: #60a7a8;
}
